.animation-integration {
	font-family: Arial, sans-serif;
	background-color: #eaeaea;
	padding: 10%;
	padding-top: 50px;
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .animation-integration h2 {
	color: #333;
  }
  
  .animation-integration h3 {
	color: #555;
  }
  
  .animation-integration pre {
	/* background-color: #282c34; */
	color: #f8f8f2;
	padding: 10px;
	border-radius: 4px;
	overflow-x: auto;
  }
  
  .animation-integration ul {
	list-style-type: none;
	padding: 0;
  }
  
  .animation-integration ul li {
	margin-bottom: 8px;
  }
  