/* AnimationSettings.css */
.animation-settings {
	padding: 15px;
	margin-top: 5px;
	background-color: #f9f9f9;
	border-radius: 20px;
	max-width: 35%;
	min-width: 35%;
	background-color: rgb(246, 246, 246);
  }
  
  .animation-settings h2 {
	font-size: 1.8rem;
	margin-bottom: 20px;
  }
  
  .setting-item {
	margin-bottom: 10px;
  }
  
  .setting-item label {
	font-size: 1rem;
	margin-right: 10px;
  }
  
  pre {
	background-color: #f5f5f5; /* Light gray background */
	padding: 20px;
	border-radius: 5px;
	font-family: 'Courier New', monospace;
	white-space: pre-wrap; /* Ensure long lines wrap */
	word-wrap: break-word; /* Ensure long lines wrap */
	max-width: 100%; /* Prevent the block from stretching too wide */
	overflow-x: auto; /* Add horizontal scroll if needed */
	box-sizing: border-box; /* Include padding in width calculation */
	max-height: 400px;
	overflow-y: scroll;
  }


  
  code {
	font-size: 1rem;
	color: #333;
  }


  #settingsTitle {
	display: flex;
	flex-direction: row; /* Default is row */
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
  }
  
  @media (max-width: 700px) {
	#settingsTitle {
	  flex-direction: column; /* Switch to column layout when the width is less than 600px */
	  align-items: center; /* Align items to the start when in column mode */
	  justify-content: center; /* Ensure the content is stacked properly */
	}
  }
  
  
  .copy-button {
	margin-left: 10px;
	padding: 5px 10px;
	font-size: 14px;
	cursor: pointer;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 4px;
	transition: background-color 0.3s ease;
  }
  
  .copy-button:hover {
	background-color: #0056b3;
  }
  
  .copy-message {
	color: rgb(255, 255, 255);
	font-size: 14px;
  }
  
  @media (max-width: 768px) {
	.animation-settings {
		padding: 15px;
		background-color: #f9f9f9;
		border-radius: 20px;
		max-width: 100%;
		background-color: rgb(246, 246, 246);
		box-sizing: border-box;
		margin: 0 auto; 
		margin-top: 20px;

	  }
  }