.animation-list {
	display: flex;
	flex-direction: row; /* Align items in a row */
	flex-wrap: wrap; /* Allow items to wrap to the next row when needed */
	justify-content: center; /* Center items horizontally */
	align-items: center; /* Center items vertically */
	gap: 15px; /* Add some space between each animation box */
	max-width: 60%;
	max-height: 500px;
	overflow-y: scroll;
	margin-right: auto;
	border-radius: 5px;
  }

#animationLoader {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	max-width: 95%;
	padding: 30px; 

}

@media (max-width: 768px) {
	#animationLoader {
	  display: flex;
	  flex-direction: column; /* This will keep the layout in a row direction at 768px and below */
	}
	.animation-list {
		display: flex;
		flex-direction: row; /* Align items in a row */
		flex-wrap: wrap; /* Allow items to wrap to the next row when needed */
		justify-content: center; /* Center items horizontally */
		align-items: center; /* Center items vertically */
		gap: 15px; /* Add some space between each animation box */
		max-width: 100%;
		max-height: 500px;
		overflow-y: scroll;
		margin-right: auto;
		border-radius: 5px;
	  }
  }


  
@keyframes slideInRight {
	0% { transform: translateX(-100%); } 100% { transform: translateX(0); }
  }
  
  .slideInRight {
	animation: slideInRight 1s ease-out 1;
  }

  @keyframes slideInLeft {
	0% { transform: translateX(100%); } 100% { transform: translateX(0); }
  }
  
  .slideInLeft {
	animation: slideInLeft 1s ease-out 1;
  }